In [1]:
import os
import pandas as pd

In [2]:
file_path = os.path.join("Resources","election_data.csv")
poll_file = pd.read_csv(file_path)
poll_file.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [3]:
#unique list of candidates from the poll_file dataframe and assigns it to a list (candidate_list)
candidate_list = poll_file["Candidate"].unique()
candidate_list

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [4]:
#creates a new dataframe(new_df) with candidate_list and specifies the column name "candidate"
new_df = pd.DataFrame(candidate_list, columns=['Candidate'])
new_df.head()

  Candidate
0      Khan
1    Correy
2        Li
3  O'Tooley

In [5]:
#help on dataframe. Shift + Enter to run
?pd.DataFrame

In [6]:
#vote counts for each candidate
countVotes = poll_file["Candidate"].value_counts()
countVotes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [7]:
#total votes
totalVotes = poll_file["Candidate"].count()
totalVotes

3521001

In [25]:
testFrame = pd.DataFrame(countVotes)
testFrame.index[0]

#sort dataframe on column 'Candidate' in descending order and print the index of the first row (ie row max votes)
testFrame.sort_values('Candidate', ascending=False).index[0]

'Khan'

In [8]:
#Creates a dataframe with the candidateList (list), countVotes (series) 
#and computed column Percent (countVotes/totalVotes)
df1 = {'Candidate': candidate_list, 'VoteCount':countVotes, 'Percent': countVotes/totalVotes}
new_df1 = pd.DataFrame(df1)
new_df1.head()

         Candidate  VoteCount  Percent
Khan          Khan    2218231     0.63
Correy      Correy     704200     0.20
Li              Li     492940     0.14
O'Tooley  O'Tooley     105630     0.03

In [36]:
#write to a text file with 'to_csv'
write_file_path = os.path.join('Output','PyPoll_output.txt')
new_df1.to_csv(write_file_path, header=True, index=None, sep='\t', mode='a')

In [31]:
?new_df1.to_csv()